<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>College of Subic Montessori - Dinalupihan Campus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">




    <!-- styles -->
    <link rel="stylesheet" href="~/assets/css/datepicker.css" type="text/css" />
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/assets/css/docs.css" rel="stylesheet">
    <link href="~/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="~/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/assets/css/flexslider.css" rel="stylesheet">

    <link href="~/assets/css/font-awesome.css" rel="stylesheet">



    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/color/default.css" rel="stylesheet">

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="~/assets/ico/favicon.ico">


    @RenderSection("pageStyles", required: false)
    @RenderSection("pageScriptsTop", false)
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="page-top">


    <header>
        <!-- Navbar
        ================================================== -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <!-- logo -->
                    <a class="brand logo" href="~/home"><img src="~/img/logo.png" alt=""></a>
                    <!-- end logo -->
                    <!-- top menu -->
                    <div class="navigation">
                        <nav>
                            <ul class="nav topnav">
                                <li class="dropdown active">
                                    <a href="~/home">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a href="">Admin View</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="~/manage/achievers/index">Achievers</a></li>
                                      
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="">User View</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="~/achievers/index">Achievers</a></li>
                                      

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="about.html">Upcoming Events</a></li>
                                        <li><a href="pricingtable.html">School Facilities</a></li>
                                        <li><a href="fullwidth.html">School Achievers</a></li>
                                        <li><a href="404.html">Question Polls</a></li>
                                        <li><a href="404.html">Alumni Profiles</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#">Profile</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="~/account/change-password">Change Password</a></li>
                                        <li><a href="~/account/update-profile">Update Profile</a></li>
                                        <li><a href="~/account/update-profile-image">Update Profile Image</a></li>

                                    </ul>

                                <li>
                                    <a href="~/Views/Home/Contact.cshtml">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- end menu -->
                </div>
            </div>
        </div>
    </header>

    <!-- / header -->
    <!-- Subhead
    ================================================== -->
    <section id="subintro" style="background-color:darkred">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="centered">
                            <h3>College Of Subic Montessori.</h3>
                            <p>
                                Frequently Asked and Question
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="divider"></div>
    <div class="content">
        <div class="container">

            @RenderBody()




        </div>
        <!-- / container -->
    </div>







    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="widget">
                        <h5>Browse pages</h5>
                        <ul class="regular">
                            <li><a href="#">Work for us</a></li>
                            <li><a href="#">Creative process</a></li>
                            <li><a href="#">Case study</a></li>
                            <li><a href="#">Scaffold awwards</a></li>
                            <li><a href="#">Meet the team</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span4">
                    <div class="widget">
                        <h5>Recent blog posts</h5>
                        <ul class="regular">
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Mea malis nominavi insolens ut</a></li>
                            <li><a href="#">Minim timeam has no aperiri sanctus ei mea per pertinax</a></li>
                            <li><a href="#">Te malorum dignissim eos quod sensibus</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span4">
                    <div class="widget">
                        <!-- logo -->
                        <a class="brand logo" href="index.html">
                            <img src="assets/img/logo-dark.png" alt="" />
                        </a>
                        <!-- end logo -->
                        <address>
                            <strong>Registered Companyname, Inc.</strong><br>
                            8895 Somename Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="verybottom">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <p class="copy">Copyright @DateTime.Now.Year College of Subic Montessori - Dinalupihan, Bataan. All rights reserved.</p>
                    </div>
                    <div class="span6">
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Serenity
                            -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>


    <!-- Footer -->
    <footer class="bg-dark small text-center text-white-50">
        <div>
            <p class="copy">Copyright @DateTime.Now.Year College of Subic Montessori - Dinalupihan, Bataan. All rights reserved.</p>
        </div>
    </footer>




    <!-- JavaScript Library Files -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.easing.js"></script>
    <script src="~/assets/js/google-code-prettify/prettify.js"></script>
    <script src="~/assets/js/modernizr.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>
    <script src="~/assets/js/jquery.elastislide.js"></script>
    <script src="~/assets/js/sequence/sequence.jquery-min.js"></script>
    <script src="~/assets/js/sequence/setting.js"></script>
    <script src="~/assets/js/jquery.prettyPhoto.js"></script>
    <script src="~/assets/js/application.js"></script>
    <script src="~/assets/js/jquery.flexslider.js"></script>
    <script src="~/assets/js/hover/jquery-hover-effect.js"></script>
    <script src="~/assets/js/hover/setting.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>


    <script src="~/js/datepicker.js"></script>


    <!-- Template Custom JavaScript File -->
    <script src="~/assets/js/custom.js"></script>


    @RenderSection("pageScripts", false)
</body>
</html>